bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea
SimpleRPManager/appsettings.json
SimpleRPManager/err.log
SRPM-Dashboard/appsettings.json
SRPM-Dashboard/appsettings.Development.json
SRPM-Dashboard/err.log